<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Student Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    {% include 'toast.html' %}

    <nav class="navbar">

        <div class="logo">
            🎓 CampusEvents
        </div>

        {% include "event_search_bar.html" %}

        <ul class="nav-links">

            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/events">🎉 Events</a>
            </li>

            <li>
                <a href="/my-events">🎟️ My Events</a>
            </li>

            <li>
                <a href="/student-dashboard">Dashboard</a>
            </li>

            {% if session.get("student_logged_in") %}
            <li>
                <a href="/profile">
                    👤 Profile
                </a>
            </li>

            <li>
                <a href="/student-logout"
                   class="btn btn-danger"
                   style="padding: 6px 14px; font-size: 14px;">
                    🚪 Logout
                </a>
            </li>
            {% endif %}

        </ul>

    </nav>

    <div class="container">

        <div class="dashboard-header">

            <div>

                <h1>🎓 Student Dashboard</h1>

                <p>
                    College ID:
                    <strong>{{ college_id }}</strong>
                </p>

            </div>

            <a href="/student-logout"
               class="btn btn-danger">

                🚪 Logout

            </a>

        </div>


        <div class="dashboard-grid">

            <a href="/events"
               class="dashboard-card">

                <h2>🎉</h2>

                <h3>Browse Events</h3>

                <p>
                    View upcoming college events
                    and register.
                </p>

            </a>


            <a href="/my-events"
               class="dashboard-card">

                <h2>🎟️</h2>

                <h3>My Registrations</h3>

                <p>
                    View your registered events.
                </p>

            </a>




        </div>

    </div>

</body>

</html>
